{{#if lessons.length}}
<div class="row justify-content-start">
  {{#each lessons}}
  <div class="col-sm-6 col-md-4 col-xl-3 col-xxl-3">
    <div class="card editiconpage">
      <video controls class="vidios">
        <source src="{{url}}" />
      </video>
      <div class="card-body">
        <h5 class="card-title addlesson">{{name}}</h5>
      </div>
      {{#iftr @root.isadmin @root.ismanager}}
      <div class="d-flex justify-content-between">
        <a class="card-title left1"  href="/lesson/edit/{{_id}}"><i class="fal fa-edit editicon"></i></a>
        <form action="/lesson/delete/{{_id}}" method="POST">
          <input type="hidden" name="libraryId" value="{{libraryId}}">
          <button style="border: none; background: transparent;" class="card-title right1" ><i class="fal fa-trash-alt"></i></button>
        </form>
      </div>
      {{/iftr}}
    </div>
  </div>
  {{/each}}
  {{else}}
  <h2>Библитека пока пусто!</h2>
</div>
{{/if}}